*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: white;
    color: #555;
    font-family: Lato,sans-serif;
    font-weight: 300;
font-size: 20px;
text-rendering: optimizeLegibility;
overflow-x: hidden;
}

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
                      url(images/hero-image.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    color: white;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.hero-text-box {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 0 20px;
    text-align: left;
}

.btn:link,
.btn:visited,
input[type="submit"]
{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.5s, border 0.5s, border-color 0.5s;
}
.btn-full,
input[type="submit"]
{
    background-color: orange;
    color: white;
    border: 1px solid orange;
    margin-right:25px;
}
.btn-ghost{
    border: 1px solid orange;
    color: orange;

}

.btn:hover,.btn:active,
input[type="submit"]
{
    background-color: #ffb347;
    border-color: #ffb347;

}
.btn-ghost:hover,
.btn-ghost:active
{
    background-color:orange ; 
    color : white;
}
.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:active{
   border: 1px solid rgb(174, 112, 5);
}
.btn-full:link,
.btn-full:visited {
    color: white;
}


.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    list-style: none;
    margin:55px;
    
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}


.main-nav li a:link:hover,
.main-nav li a:visited:hover{
    border-bottom: 2px solid orange;
}

section{
    padding: 80px 0px;
}


h2::after{
    display: block;
    height: 2px;
    background-color: orange;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}


.box{
padding:1%;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 15%;
    font-size: 110%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}



.meals-showcase{
    list-style: none;
    width: 100%;
    display: flex;
}

.meals-showcase li{
    width: 25%;
    padding: 10px;
}
.meal-photo{
    width: 100%;
    height:250px;
overflow: hidden;
padding: 10px;
}

.meal-photo img{
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    opacity: 1;
}


.section-meals{
    width: 100%;
    height: 100%;

}

.meal-photo img:hover{
    transform: scale(1);
    opacity: 0.7;
    transition: all 0.5s;
    background-color: black;
}
.clearfix{zoom: 1;}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.section-features .long-copy{
    margin-bottom: 30px;
}


.works-step{
    margin-bottom: 50px;
    margin-right: 25px;
}


.steps-box:first-child{
    text-align: center;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: auto;
    height:auto;
}

.works-step div{
    color: orange;
    border: 4px solid orange;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}


.works-step:last-of-type{
    margin-bottom: 80px;
}


.btn-app:link,
.btn-app:visited
{
    border: 0 transparent;
    border-bottom: 0;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 40px;
}

.london,
.sanfran,
.berlin,
.lisbon{
    height: 250px;
    width: 250px;
}

.box img{
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
    
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: orange;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}
 .city-feature a:link,
.city-feature a:visited{
    color: orange;
    text-decoration: none;
    border-bottom: 1px solid orange;
    padding-bottom: 1px;
} 
a:hover,
a:active{
    color:#555;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
}




.row::after {
    content: "";
    display: table;
    clear: both;
}

.section-testimonials{
 background-image:
 linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
 url(images/food.jpeg);
 background-size: cover;
 background-position: center;
color: #fff;
padding: 80px 0;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
}

cite{
    font-size: 90%;
    display: block;
    margin: 25px;
}
cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
blockquote:before{
    content: '\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0;
    left: -3px;
}

.section-plans{
    background-color: #f4f4f4;

}

.plan-box{
    background-color: #fff;
     border-radius: 5px ;
     width: 90%;
     margin-left: 5%;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-price{
    font-size:300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price span{
    font-size: 40%;
    color: #999;
}
.plan-price-meal{
    font-size: 80%;
}
.plan-price span{
    font-weight: 300;
    font-size:30%
}

.plan-box ul{
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
.plan-box ul li{
    padding: 10px 0;
   
    font-size: 90%;
}

.plan-box div:last-child{
    border: none;
    text-align: center;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
}


.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
select{
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
input[type="checkbox"]{
    margin: 10px 5px 10px 0px;
}
footer{
    background-color: #2c2b2b;
    font-size: 80%;
padding: 50px;
}
.footer-nav{
    list-style: none;
    float:left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right:20px;

}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border:0;
    color: #888;
}
.footer-nav li a:hover,
.social-links li a:hover{
    color: #ddd;
}
footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top:20px
}
.fb:hover{
color: #3b5998;
}
.igm:hover{
    color:#517fa4 ;
}
.gg:hover{
    color: #dd4b39;
}
.twi:hover{
    color: #00aced ;
}


.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}